* {
    box-sizing: border-box;
  }



#container {
    display: grid;
    /* grid-template-rows: repeat(2,2);
    grid-template-columns: repeat(2,2); */
    height: 200px;
    width: 600px;
}

.grid-item {
    padding: 0em;
    border: 1px solid #ddd;
    /* display: grid; */
    /* place-items: center; */
    text-align: center;
    height: auto;
    width: auto;
    background-color: brown;
    transition: ease-in 0.5s all;
  }

  /* div {

  } */

  .grid-color {
    background-color: blue;
  }